html,body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  font-family: Helvetica, Arial, sans-serif;
  color: #FFF;
}
header.topBar {
  width:100%;
  padding: 0px 15px 0px 15px;
  background:rgba(0,0,0,0.75);
  color:#FFF;
}
div.widgetContainer {
  z-index:100;
  width:100%;
  height:100%;
  position:fixed;
  background: rgba(0,0,0,0.5);
}
.sonosNowPlaying {
  color:#FFF;
}
.widgetContainer {
  display:flex;
}
.widget {
  flex: 1 1 auto;
}
