<html>
    <head>
      <link rel="stylesheet" href="/static/css/milligram.css">
      <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body>
      <div class="sonosBackground"></div>
      <div class="widgetContainer">
        <header class="topBar">
          <h1 class="headerTime">dashboard alpha 0.1</h1>
        </header>
          {% for widget in widgets %}
              <div class="{{ widget }}">
              </div>
          {% endfor %}
        </div>
    </body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script>
  {% for widget in widgets %}
    setInterval(function(){
    $.get( "/api/widgets/{{ widget }}", function( data ) {
      $( ".{{ widget }}" ).html( data );
    });
  }, 3000);
  {% endfor %}
</script>
</html>
